@import './theme.scss';
@import './keyframes.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.8rem;
}
h3 {
  font-size: 2.6rem;
}
h2 {
  font-size: 3rem;
}
h1 {
  font-size: 3.2rem;
}

main {
  position: relative;
  padding: 1em;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-transparent {
  background-color: transparent;
  border: none;
}

.svg-white-on-hover:hover {
  svg {
    animation: fadeIn 150ms ease-in-out;
    fill: #fff;
  }
}

@media only screen and (min-width: $tablet) {
  main {
    max-width: 56em;
    padding: 2em;
    margin: 0 auto;
  }
}
